<div class="arrange">
<%= render "shared/content_title", title: "Click on any user to check out their bucket list:" %>

<% @users.each do |user| %>
  <ul>
    <li><%= link_to "#{user.username}", user_path(user) %>, <%= user.goals.size %> goals</li>
  </ul>
<% end %>
</div>