<h2> <%= @user.username %>'s' bucket list: </h2>

<ol>
<% @user.goals.each do |goal| %>
    <li><%= goal.body %> 
      <% if logged_in? and (current_user == goal.creator) %> 
        <%= link_to 'Delete', goal_path(goal), method: 'delete' %>
      <% end %>
    </li>
<% end %>
</ol>